@import url('https://fonts.cdnfonts.com/css/moondog-zero');

body {
    margin: 0;
    font-family: 'Moondog Thirty';
    background-image: url("data:image/svg+xml,%3Csvg class='border shadow-md' viewBox='0 0 1074.7733333333333 604.5600000000001' style='width: 1074.77px; height: 604.56px;' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Crect class='bg' id='bg' x='0' y='0' width='1074.7733333333333' height='604.5600000000001' fill='%23F1FAEE'%3E%3C/rect%3E%3Cg transform='rotate(139 537.3866666666667 302.28000000000003)'%3E%3Cpath d='M -358.26 434.56 S -189.13 320.56 0.00 434.56 169.13 350.56 358.26 434.56 527.39 292.56 716.52 434.56 809.77 350.56 1074.77 434.56 1082.03 406.56 1433.03 434.56 h 110 V 1204.56 H -358.26 Z' fill='%23457B9D'%3E%3C/path%3E%3Cpath d='M -358.26 195.00 S -235.00 60.00 0.00 195.00 60.26 107.50 358.26 195.00 402.52 58.00 716.52 195.00 866.77 21.00 1074.77 195.00 1145.03 79.00 1433.03 195.00 h 110 V -600 H -358.26 Z' fill='%23A8DADC'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#githubDiv {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E63946;
    width: fit-content;
    height: 2.4rem;
    padding: 4px;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    transition: all .45s ease-in-out;
}

#githubDiv:hover {
    scale: 120%;
    background-color: #1D3557;
    top: 15px;
    right: 15px;
}

#github {
    text-decoration: none;
    color:#F1FAEE;
    font-size: 1.5rem;
}

#title {
    color: #1D3557;
    text-align: center;
    font-size: 3.8rem;
    transition: all .5s ease-in-out;
    line-height: 7rem;
    height: 7rem;
    width: fit-content;
    margin: auto;
}

#title:hover {
    color: #E63946;
    font-size: 4.5rem;
}

#container {
    display: flex;
    text-align: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height: 32rem;
    border-radius: 15px;
    background-color: #E63946;
}

tr {
    display: flex;
    flex-direction: row;
}

td {
    display: flex;
    width: 8rem;
    height: 8rem;
    background-color: #F1FAEE;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #1D3557;
    transition: all .35s ease-in-out;
    font-family: Arial;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td:hover {
    background-color: #A8DADC;
}

#top {
    margin-bottom: 15px;
    justify-content: space-between;
    gap: 15px;
}

#mid {
    margin-bottom: 15px;
    justify-content: space-between;
    gap: 15px;
}

#bot {
    justify-content: space-between;
    gap: 15px;
}

#info {
    margin-top: 2.41rem;
    text-align: center;
    font-size: 2.5rem;
    color: #457B9D;
    margin-bottom: 2.41rem;
    transition: all .45s ease-in-out;
}

#info:hover {
    color: #1D3557;
}